.fade-slide-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-slide-in.animate {
    opacity: 1;
    transform: translateY(0);
}

.fade-delay-1 {
    transition-delay: 0.2s;
}

.fade-delay-2 {
    transition-delay: 0.4s;
}

.fade-delay-3 {
    transition-delay: 0.6s;
}

.fade-delay-4 {
    transition-delay: 0.8s;
}

.product-image-hover {
    transition: transform 0.4s ease;
}

.product-image-hover:hover {
    transform: scale(1.05);
}

@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.badge-action {
    display: inline-block;
    padding: 6px 10px;
    font-size: 13px;
    line-height: 1;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-right: 5px;
    transition: 0.2s ease;
    text-decoration: none;
}

.badge-action i {
    vertical-align: middle;
}

.badge-view {
    background-color: #17a2b8;
    /* Blue - Info */
}

.badge-edit {
    background-color: #28a745;
    /* Green - Success */
}

.badge-delete {
    background-color: #ffc107;
    /* Yellow - Warning */
    color: #212529;
}

.badge-delete:hover {
    background-color: #e0a800;
}




.custom-toast {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
}

.custom-toast.error {
    background-color: #dc3545;
}

.custom-toast.show {
    opacity: 1;
    transform: translateY(-10px);
}



/* create product */


